<h1>Edit Page</h1>
<%= form_for @page do |f| %>
  <%= f.label :todo %>
  <%= f.text_field :todo %>

  <%= f.label :duedate %>
  <%= f.text_field :duedate %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.submit class: "button"%>
<% end %>